.customization-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 15px;

  background-color: white;

  height: 26rem;
  width: 40rem;
}
