@import "./colors.scss";

div.main-container {
  @media (max-width: 1325px) {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.6)
      ),
      url("../assets/images/numenera-background.jpg") no-repeat center top fixed;
  }

  .trademark {
    @media (max-width: 810px) {
      margin-bottom: 5rem;
    }
  }
}

div.generator {
  @media (max-width: 1325px) {
    height: 100%;
    width: 95%;

    .selectors {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      > b {
        font-size: 1.25rem;
      }
    }

    h1 {
      display: block;

      font-size: 1.25rem;
      padding: 1rem;
      text-align: center;
    }


    height: 100%;
    min-height: 33rem;
  }

  > form {
    @media (max-width: 1325px) {
      flex-direction: column;

      #descriptor,
      #type,
      #foci {
        width: 100%;
        text-align: center;
      }
    }
  }
}

div.customization-page {
  @media (max-width: 1325px) {
    width: 95%;

    .character-phrase {
      font-size: 1.35rem;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      max-width: 90%;

      > b {
        margin: 0rem 0.35rem;
      }
    }
  }

  @media (max-width: 810px) {
    .pools-container {
      flex-wrap: wrap;

      .pools-wrapper {
        margin: 1rem 2rem;
      }
    }

    .skills-children {
      min-width: 85%;

      > ul {
        align-self: flex-start;
      }
    }

    .abilities-children {
      min-width: 100%;
    }

    .additional-children {
      min-width: 100%;
    }
  }
}

nav.navbar {
  @media (max-width: 1325px) {
    display: none;
  }
}

div.get-started {
  @media (max-width: 1325px) {
    width: 95%;

    margin-top: 2rem;
  }
}

div.copyright-container {
  @media (max-width: 1325px) {
    width: 95%;
    min-height: 100vh;
  }
}

div.about-container {
  @media (max-width: 1325px) {
    width: 95%;
  }
}

div.character-history-intro {
  @media (max-width: 1325px) {
    width: 95%;

    margin-top: 2rem;
    height: fit-content;
  }
}

div.character-history-container {
  @media (max-width: 1325px) {
    width: 95%;
    min-height: fit-content;
  }

  .character-history-list {
    padding: 1rem 3rem;
  }
}