@import "../../styles/colors.scss";

.export-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  .export-button {
    margin: 2rem 0;

    padding: 0.8rem;

    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;

    background-color: $satin-gold;
    border: none;
    border-radius: 8px;
    color: white;

    cursor: pointer;
  }
}
